<div>
    <div class="cart-dropdown" [class.show]="isCartVisible">
        @if (hasItemsInCart) {
            <div class="cart-items">
                @for (item of cartItems; track item.name) {
                    <div class="cart-item">
                        <button class="delete-btn" (click)=this.winkelwagenService.itemRemove(item)>
                            <img src="/assets/icons/delete.svg" alt="Delete Icon" class="delete-icon" />
                        </button>            <div class="cart-item-info">
                        <img [src]="'/assets/' + item.PhotoIMG + '.png'" alt="{{ item.name }}">
                        <div class="item-details">
                            <span class="item-name">{{ item.name }}</span>
                            <div class="quantity-controls">
                                <span>{{'winkelwagen.hoeveelheid' | translate}}</span>
                                <button class="min-plus" (click)=this.winkelwagenService.itemMin(item)>-</button>
                                <span>{{ item.quantity }}</span>
                                <button class="min-plus" (click)=this.winkelwagenService.itemPlus(item)>+</button>
                            </div>
                            <span class="item-price">{{'winkelwagen.prijs' | translate}} ${{ item.quantity * item.price }}</span>
                        </div>
                    </div>
                    </div>
                }
                @for (item of giftcardItems; track item.name) {
                    <div class="cart-item">
                        <button class="delete-btn" (click)=this.winkelwagenService.itemGiftcardRemove(item)>
                            <img src="/assets/icons/delete.svg" alt="Delete Icon" class="delete-icon" />
                        </button>            <div class="cart-item-info">
                        <img [src]="'/assets/' + item.PhotoIMG + '.png'" alt="{{ item.name }}">
                        <div class="item-details">
                            <span class="item-name">{{ item.name }}</span>
                            <div class="quantity-controls">
                                <span>{{'winkelwagen.hoeveelheid' | translate}}</span>
                                <button class="min-plus" (click)=this.winkelwagenService.itemGiftcardMin(item)>-</button>
                                <span>{{ item.quantity }}</span>
                                <button class="min-plus" (click)=this.winkelwagenService.itemGiftcardPlus(item)>+</button>
                            </div>
                            <span class="item-price">{{'winkelwagen.prijs' | translate}} ${{ item.quantity * item.price }}</span>
                        </div>
                    </div>
                    </div>
                }
            </div>
            <p>{{'winkelwagen.totaal' | translate}} ${{ totaalprice().toFixed(2) }}</p>
            <button (click)="checkout()">{{'winkelwagen.afrekenen' | translate}}</button>
        } @else {
            <p>{{'winkelwagen.leeg' | translate}}</p>
            <p>{{'winkelwagen.totaal' | translate}} ${{ totaalprice() }}</p>
            @if (empryCartPopup) {
                <p class="empty-cart-error">{{'winkelwagen.leeg' | translate}}</p>
            }
            <button (click)="EmptyCart()">{{'winkelwagen.afrekenen' | translate}}</button>
        }
    </div>
</div>
